@font-face {
    font-family: sub;
    src: url('./mouis.ttf');
}
@font-face {
    font-family: mai;
    src: url('./Poppins-SemiBold.ttf');
}
*{
    margin: 0;
    font-family: sub;
    color: inherit;
}


h1{
    font-family: mai;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    font-family: mai;
    padding-bottom: 20px;
}
p{
    font-size: 24px;
    padding-bottom: 10px;
}

pre{
    line-height: 2rem;
}
.HeroMain{
    height: 60vh;
    /* background-color: black; */
    color: white;
    overflow: hidden;
    position: relative;
}
.HeroMain img{
    transform: translateY(-1100px);
    z-index: -1;
    position: absolute;
}
.headinHreo{
    text-transform: capitalize;
}
.overlay{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 80px 150px;
    background: rgba(0, 0, 0, 0.275);
}
.lessonSpace{
    padding: 80px 170px;
}
.footer{
    display: flex;
    background: black;
    justify-content: space-between;
    color: white;
    padding: 22px 100px;
    
}
.footer p{
    font-size: 20px;
}

.challanges{
    padding: 230px 170px 0;
}